:root {
  --background-color: #eeeff8;
  --content-background-color: #fefeff;
  --title-Text-color: #254050;
  --subText-color: #7b899c;
}

body,
h1,
h2,
h4,
p,
input,
table,
tr,
th,
td,
thead,
tbody {
  margin: 0;
  padding: 0;
}

body {
  font-size: 14px;
  background-color: var(--background-color);
  font-family: "Lato", sans-serif;
}
.wrap {
  width: 1532px;
  margin: 0 auto;
  padding: 101px 0 0;
}

header h1 {
  font-size: 42px;
  color: var(--title-Text-color);
}
header p {
  font-size: 25px;
  color: var(--subText-color);
}
header .dashBox {
  padding: 48px 60px;
}
.dashBox {
  margin: 0 0 30px;
  background-color: var(--content-background-color);
  border-radius: 8px;
}

/* 섹션 */
.mainBox {
  overflow: hidden;
}
.mainBox .dashBox {
  float: left;
}

.content-head {
  padding: 30px 0 30px 81px;
  border-bottom: 1px solid #e9ecf2;
}
.content-head h2 {
  position: relative;
}
#calendar {
  margin-right: 32px;
}
#calendar .content-head {
  position: relative;
}
#calendar .content-head .createEvent {
  position: absolute;
  right: 40px;
  top: 19px;
  background-color: #286df9;
  padding: 16px 24px;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
}
#calendar .content-head .createEvent span {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
}
#calendar h2::before {
  content: "";
  position: absolute;
  left: -42px;
  top: 2px;
  width: 27px;
  height: 25px;
  background: url(./img/calendar.png) no-repeat 0px 0px;
}
#calendar .calendar {
  overflow: hidden;
  width: 843px;
  height: 525px;
  padding: 40px 35px 40px 40px;
  box-sizing: border-box;
}

#calendar .calendar > div {
  height: 100%;
  box-sizing: border-box;
}

#calendar .calendar .calendar_sub {
  float: left;
  width: 280px;
}
#calendar .calendar .calendar_sub h3 {
  font-size: 18px;
}
#calendar .calendar .calendar_sub > div {
  overflow-y: auto;
  width: 100%;
  height: 372px;
}
#calendar .calendar .calendar_sub > div::-webkit-scrollbar {
  width: 8px;
}
#calendar .calendar .calendar_sub > div::-webkit-scrollbar-thumb {
  background: #23213b;
  border-radius: 16px;
}
#calendar .calendar .calendar_sub .subEvent {
  overflow: hidden;
  margin-bottom: 30px;
}
#calendar .calendar .calendar_sub .subEvent > div {
  float: left;
}
#calendar .calendar .calendar_sub .subEvent input {
  display: block;
  width: 100%;
  border: none;
  padding: 3px 0;
}
#calendar .calendar .calendar_sub .subEvent .event_title {
  overflow: hidden;
  width: 170px;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#calendar .calendar .calendar_sub .subEvent .event_content {
  color: #878fa4;
  font-size: 12px;
}
#calendar .calendar .calendar_sub .subEvent .subEvent_poster {
  padding-right: 12px;
}

#calendar .calendar .calendar_main {
  float: right;
  width: 457px;
  height: 421px;
}
#calendar .calendar .calendar_main .calendar_interface {
  border: 1px solid #eaedf3;
}
#calendar .calendar_time {
  position: relative;
  padding: 42px 0;
  text-align: center;
  color: #2c3135;
  font-size: 20px;
  font-weight: bold;
}
#calendar .calendar_time a {
  position: absolute;
  top: 46px;
  width: 8px;
  height: 14px;
  background: url(./img/Arrow.png) no-repeat;
}
#calendar .calendar_time .prevMonth {
  left: 58px;
}
#calendar .calendar_time .nextMonth {
  right: 58px;
  transform: rotate(180deg);
}
#calendar .calendar_time span {
  overflow: hidden;
  line-height: 0;
  font-size: 0;
}
#calendar table {
  width: 100%;
  height: 319px;
  table-layout: fixed;
  border-collapse: collapse;
}
#calendar table td,
#calendar table th {
  vertical-align: top;
  text-align: center;
  /* border: 1px solid #000; */
}
#calendar table th {
  font-size: 0.81rem;
  color: #808b92;
  height: 49px;
}
#calendar table td {
  font-size: 14px;
  font-weight: bold;
  height: 51px;
}
#task {
  width: 657px;
  height: 611px;
}
#task h2::before {
  content: "";
  position: absolute;
  left: -42px;
  top: 2px;
  width: 28px;
  height: 28px;
  background: url(./img/task.png) no-repeat 0px 0px;
}
