:root {
  --background-color: #eeeff8;
  --content-background-color: #fefeff;
  --title-Text-color: #254050;
  --subText-color: #7b899c;
}
.hide {
  display: none;
}
body,
h1,
h2,
button,
h3,
h4,
p,
input,
table,
tr,
th,
td,
thead,
tbody {
  margin: 0;
  padding: 0;
  outline: 0;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

body {
  font-size: 14px;
  background-color: var(--background-color);
  font-family: "Lato", sans-serif;
  transition: all 0.3s ease;
}
.wrap {
  width: 1532px;
  margin: 0 auto;
  padding: 101px 0 0;
}

header h1 {
  font-size: 42px;
  color: var(--title-Text-color);
}
header p {
  font-size: 25px;
  color: var(--subText-color);
}
header .dashBox {
  padding: 48px 60px;
}
.dashBox {
  margin: 0 0 30px;
  background-color: var(--content-background-color);
  border-radius: 8px;
}

/* 섹션 */
.mainBox {
  overflow: hidden;
}
.mainBox .dashBox {
  float: left;
}

.content-head {
  overflow: hidden;
  position: relative;
  padding: 30px 0 30px 81px;
  border-bottom: 1px solid #e9ecf2;
}
.content-head h2 {
  position: relative;
}

#calendar {
  margin-right: 32px;
}
#calendar h2::before {
  content: "";
  position: absolute;
  left: -42px;
  top: 2px;
  width: 27px;
  height: 25px;
  background: url(./img/calendar.png) no-repeat 0px 0px;
}
#calendar .createGoal {
  position: absolute;
  right: 20px;
  top: 18px;
  background-color: #286df9;
  border-radius: 3px;
  transition: all 0.2s ease;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
}
#calendar .createGoal:active {
  box-shadow: none;
}

#calendar .createGoal span {
  display: block;
  padding: 16px 24px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  transition: all 0.2s ease;
}
#calendar .createGoal span:active {
  transform: scale(1.2);
}
#calendar .calendar {
  overflow: hidden;
  width: 843px;
  height: 525px;
  padding: 40px 35px 40px 40px;
  box-sizing: border-box;
}

#calendar .calendar > div {
  height: 100%;
  box-sizing: border-box;
}

#calendar .calendar_month {
  position: relative;
  float: left;
  width: 280px;
}
#calendar .calendar_month h3 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 18px;
}
#calendar .calendar_month .month_save {
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 20px;
  background: #286df9;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}
#calendar .calendar_month > div {
  overflow-y: auto;
  width: 100%;
  height: 372px;
  padding-right: 15px;
}
#calendar .calendar_month > div::-webkit-scrollbar {
  width: 8px;
}
#calendar .calendar_month > div::-webkit-scrollbar-thumb {
  background: #23213b;
  border-radius: 16px;
}
#calendar .calendar_month .month_goal .month_goal_con {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 5px;
  margin: 10px 0;
  border-radius: 25px;
  box-sizing: border-box;
  transition: all 0.3s ease;
}
#calendar .month_goal_con:hover {
  background: #ffd56b;
}

#calendar .month_goal_con input {
  padding: 5px 0;
  border: none;
  background: none;
}
#calendar .month_goal_con label {
  display: block;
  width: 10px;
  height: 10px;
  box-shadow: inset 0 0 0 2px #00005c;
  padding: 10px;
  border-radius: 100%;
  cursor: pointer;
  transition: all 0.3s ease;
}
#calendar .month_goal_con label.checked {
  box-shadow: inset 0 0 0 8px #00005c;
}
#calendar .month_goal_con input[type="checkbox"] {
  display: none;
}
#calendar .month_goal_con input[type="text"] {
  color: var(--title-Text-color);
  font-size: 13px;
  font-weight: bold;
  border-bottom: 1px solid #00005c;
}
#calendar .month_goal_con .goal_delete {
  position: absolute;
  right: 1px;
  top: -5px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}
#calendar .month_goal_con .goal_delete div {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 20px;
  height: 4px;
  background-color: #eb596e;
  transform: translate(-50%, -50%) rotate(0deg);
  transform-origin: center;
}
#calendar .month_goal_con .goal_delete div {
  transform: translate(-50%, -50%) rotate(45deg);
}
#calendar .month_goal_con .goal_delete div:first-child {
  transform: translate(-50%, -50%) rotate(135deg);
}
#calendar .calendar .calendar_main {
  float: right;
  width: 457px;
}
#calendar .calendar .calendar_main .calendar_interface {
  border: 1px solid #eaedf3;
}
#calendar .calendar_time {
  position: relative;
  padding: 42px 0;
  text-align: center;
  color: #2c3135;
  font-size: 20px;
  font-weight: bold;
}
#calendar .calendar_time a {
  position: absolute;
  top: 46px;
  width: 8px;
  height: 14px;
  background: url(./img/Arrow.png) no-repeat;
}
#calendar .calendar_time .prevMonth {
  left: 58px;
}
#calendar .calendar_time .nextMonth {
  right: 58px;
  transform: rotate(180deg);
}
#calendar .calendar_time span {
  overflow: hidden;
  line-height: 0;
  font-size: 0;
}
#calendar table {
  width: 100%;
  height: 319px;
  table-layout: fixed;
  border-collapse: collapse;
}
#calendar table td,
#calendar table th {
  vertical-align: top;
  text-align: center;
  /* border: 1px solid #000; */
}
#calendar table th {
  font-size: 0.81rem;
  color: #808b92;
  height: 49px;
}
#calendar table td {
  font-size: 14px;
  font-weight: bold;
}
#calendar table th:first-child,
#calendar table tr td:first-child {
  color: #f04324;
}
#calendar table td.today {
  background-color: #286ef9a8;
}

/* 낙서장 */
#scratch {
  width: 657px;
  height: 611px;
}
#scratch h2::before {
  content: "";
  position: absolute;
  left: -42px;
  top: 2px;
  width: 28px;
  height: 28px;
  background: url(./img/task.png) no-repeat 0px 0px;
}
#scratch #scratchPaper {
  width: 100%;
  height: 525px;
}
#scratch .select_scratch {
  position: absolute;
  right: 40px;
  top: 30px;
  font-size: 20px;
}
#scratch .select_scratch .scratch_brush {
  display: inline-block;
  margin: 0 8px;
  color: #23213b;
}
